[submodule "draft"]
	path = draft
	url = https://github.com/cplusplus/draft.git
        branch = master
[submodule "cxxdraft-htmlgen"]
	path = cxxdraft-htmlgen
	url = https://github.com/Eelis/cxxdraft-htmlgen.git
        branch = master
[submodule "gh-pages"]
	path = gh-pages
	url = https://github.com/timsong-cpp/cppwp.git
	branch = gh-pages
[submodule "networking-ts"]
	path = networking-ts
	url = https://github.com/cplusplus/networking-ts.git
