[submodule "draft"]
	path = draft
	url = https://github.com/cplusplus/draft.git
        branch = master
[submodule "cxxdraft-htmlgen"]
	path = cxxdraft-htmlgen
	url = https://github.com/Eelis/cxxdraft-htmlgen.git
        branch = master
[submodule "gh-pages"]
	path = gh-pages
	url = https://github.com/timsong-cpp/cppwp.git
	branch = gh-pages
[submodule "networking-ts"]
	path = networking-ts
	url = https://github.com/cplusplus/networking-ts.git
[submodule "ranges-ts"]
	path = ranges-ts
	url = https://github.com/ericniebler/stl2.git
[submodule "cxxdraft-htmlgen-networking"]
	path = cxxdraft-htmlgen-networking
	url = https://github.com/timsong-cpp/cxxdraft-htmlgen
	branch = networking-ts
[submodule "cxxdraft-htmlgen-ranges"]
	path = cxxdraft-htmlgen-ranges
	url = https://github.com/timsong-cpp/cxxdraft-htmlgen
	branch = ranges-ts
