[submodule "draft"]
	path = draft
	url = https://github.com/cplusplus/draft.git
[submodule "cxxdraft-htmlgen"]
	path = cxxdraft-htmlgen
	url = https://github.com/Eelis/cxxdraft-htmlgen.git
[submodule "gh-pages"]
	path = gh-pages
	url = https://github.com/timsong-cpp/draft.git
	branch = gh-pages
