div.example { display: inline; }
div.note { display: inline; }

div.exampleBody { display: none; }
div.noteBody { display: none; }

:target > div.noteBody { display: inline; }
:target > div.exampleBody { display: inline; }
