<!DOCTYPE html><html lang='en'><head><title>[defns.component]</title><meta charset='UTF-8'/><link rel='stylesheet' type='text/css' href='14882.css'/><link rel='icon' href='icon.png'/></head><body><div class='wrapper'><h1 ><a class='secnum' style='min-width:73pt'>17</a> Library introduction <a class='abbr_ref' href='./#library'>[library]</a></h1><h2 ><a class='secnum' style='min-width:88pt'>17.3</a> Definitions <a class='abbr_ref' href='definitions#defns.component'>[definitions]</a></h2><div id='defns.component'><h3 ><a class='secnum' style='min-width:103pt'>17.3.5</a> component <a class='abbr_ref'>[defns.component]</a></h3><p ><span class='indexparent'><a class='index' id='component'></a></span>a group of library entities directly related as members, parameters, or
return types<br/>
[<span style='white-space:nowrap'>&thinsp;</span><span class='textit'>Note:</span> 
For example, the class template
<span class='texttt'>basic_&shy;string</span>
and the non-member
function templates
that operate on
strings are referred to as the
<a class='hidden_link' href='#def:string_component' id='def:string_component'><i>string component</i></a>.
<span class='textit'><span style='white-space:nowrap'>&thinsp;</span>—<span style='white-space:nowrap'>&thinsp;</span>end note</span><span style='white-space:nowrap'>&thinsp;</span>] </p></div></div></body></html>